[mysqld]
server-id=10

log_bin=mysql-bin
relay-log=relay-bin

gtid_mode=ON
enforce_gtid_consistency=ON

binlog_format=ROW

log-slave-updates=1

replica_parallel_workers=4
replica_parallel_type=LOGICAL_CLOCK

# u5141u8bb8u8df3u8fc7u590du5236u9519u8bef
slave_skip_errors=1062

skip_slave_start=1

binlog-ignore-db=mysql
binlog-ignore-db=information_schema
binlog-ignore-db=performance_schema
binlog-ignore-db=sys

replicate-ignore-db=mysql
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema
replicate-ignore-db=sys 