[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
secure-file-priv= NULL
default-time_zone='+8:00'

# 性能优化参数
performance_schema_max_table_instances=400
table_definition_cache=400
table_open_cache=2048  # 增加缓存以提高性能
performance_schema = off
max_connections = 100  # 根据实际需求需求调整
thread_cache_size=128  # 增加线程缓存以减少线程创建开销
innodb_buffer_pool_size=2G  # 根据服务器内存调整，设为总内存的 50-80%
innodb_buffer_pool_instances=1 # InnoDB缓冲池的实例数量
innodb_log_buffer_size=64M  # 增加日志缓冲区大小
innodb_flush_log_at_trx_commit=2  # 平衡性能和持久性
innodb_flush_method=O_DIRECT  # 提高 I/O 性能
innodb_io_capacity=200  # 根据存储设备性能调整
innodb_io_capacity_max=1000  # 同上

# 连接和线程优化
max_allowed_packet=256M
wait_timeout=600
interactive_timeout=600
thread_stack=256K

# 禁用不必要的功能
skip_name_resolve=1
symbolic-links=0

# SQL 模式设置
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# 日志相关配置（关闭所有日志）
general_log=0
general_log_file=/var/log/mysql/mysql_general.log
slow_query_log=0
slow_query_log_file=/var/log/mysql/mysql_slow.log
log_error=/var/log/mysql/mysql_error.log
log_queries_not_using_indexes=0
log_throttle_queries_not_using_indexes=0
binlog_expire_logs_seconds=86400  # 保留1 天日志
log_bin = OFF
sync_binlog=0
max_binlog_size=1G
relay_log_recovery=0
skip-log-bin

# 其他优化参数
tmp_table_size=256M
max_heap_table_size=256M
innodb_doublewrite=0  # 保持双写缓冲区开启以确保数据完整性
innodb_lock_wait_timeout=50  # 防止死锁
innodb_rollback_on_timeout=1  # 确保在超时后回滚事务

#!includedir /etc/mysql/conf.d/